PORT=5000
MONGO_URI= mongodb+srv://siddiquimohdayan074_db_user:ayansidd144@cluster0.66liwjy.mongodb.net/?appName=Cluster0
JWT_SECRET=meetmesh_super_secret_change_me_in_prod
CLIENT_URL=http://localhost:5173
NODE_ENV=development
GOOGLE_CLIENT_ID=345521600120-12d16s2iskqdpskm1mq6558b1erbc4kq.apps.googleusercontent.com
VAPID_PUBLIC_KEY=BAjAcUD98AfksII2phecwmmXeXNUOV1Qbz_UWYlgFnBno12X-DIZX0FGfXs_1WiJPt_Pzjh5f_LjZTUpdvEn5Ao
VAPID_PRIVATE_KEY=hHjkI6z_OyxMcmaQpBzAUcj0n3gPJ3LiQCiwCBomzBk
VAPID_SUBJECT= mailto:ayansiddiqui1411@gmail.com